#vid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.butt {
    text-shadow: 3px 2px red;
}

h1 {
    color: white;
}

ion-item {
    background: transparent;
}

p {
    color: rgb(13, 101, 160);
    text-align: center;
}