<ion-header>
    <ion-toolbar>
        <ion-title>General Knowledge Quiz</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <img src="/assets/nn.jpg">


    </ion-card>


    <ion-card>


        <div *ngFor="let thirdq of first ; let y = index ">


            <p>{{y+1}}. {{thirdq.question}}</p>

            <ion-radio-group>
                <ion-list>

                    <p>

                        <ion-label> {{thirdq.incorrect_answers[0]}}</ion-label>
                        <ion-radio (click)="thirdquiz2()" value="griff"></ion-radio>

                    </p>

                    <p>
                        <ion-label> {{thirdq.incorrect_answers[1]}}</ion-label>
                        <ion-radio (click)="thirdquiz2()"></ion-radio>

                    </p>




                    <p>
                        <ion-label>
                            {{thirdq.correct_answer}}
                        </ion-label>
                        <ion-radio (click)="thirdquiz1()" value="biff"></ion-radio>
                    </p>

                    <p>
                        <ion-label> {{thirdq.incorrect_answers[2]}}</ion-label>
                        <ion-radio (click)="thirdquiz2()" value="griff"></ion-radio>

                    </p>


                </ion-list>
            </ion-radio-group>

        </div>

    </ion-card>

    <ion-button (click)="thirdquiz()" class="gn">Submit</ion-button>




</ion-content>