p {
    text-align: center;
    background-color: transparent;
}

.sports {
    position: absolute;
    left: 35%;
}

// #vid {
//     position: fixed;
//     right: 0;
//     bottom: 0;
//     min-width: 100%;
//     min-height: 100%;
// }