<ion-header>
    <ion-toolbar color="">
        <ion-title>
            Sport Quiz
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!-- <video autoplay muted loop id="vid">
                <source src="/assets/blue.mp4" type="video/mp4">
    </video> -->

    <ion-card color="warning">
        <img src="/assets/slide1.png">

    </ion-card>

    <P>{{FirstName}}</P>
    <P>{{LastName}}</P>
    <p>{{date}}</p>






    <ion-card>
        <div *ngFor="let quest of time ; let i = index ">
            <ion-list color="dark">


                <p style="background-color:transparent;">{{i+1}}. {{quest.question}}</p>

                <p>

                    {{quest.incorrect_answers[0]}}
                    <ion-radio (click)="select1()" slot="start" value="biff"></ion-radio>
                </p>

                <p>

                    {{quest.incorrect_answers[1]}}
                    <ion-radio (click)="select1()" slot="start" value="biff"></ion-radio>
                </p>
                <p>

                    {{quest.incorrect_answers[2]}}
                    <ion-radio (click)="select1()" slot="start" value="biff"></ion-radio>
                </p>
                <p>
                    <ion-label>{{quest.correct_answer}} </ion-label>
                    <ion-radio (click)="select2()" slot="start" value="griff"></ion-radio>
                </p>

            </ion-list>
        </div>

    </ion-card>









    <ion-button (click)="submit()" class="sports" expand="full" fill="outline"><b><i>Submit</i></b></ion-button>




</ion-content>